// layout
.layout{
  .nav{
    display: flex;
  
    a{
      display: block;
      color: $c-white;
    }
  }
}

// header
.header{
  padding: 16px 0;
  background-color: $c-red;
  
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img{
    width: 80px;
  }
  .nav{
    @include nav{
      flex-wrap: wrap;
      max-height: 0px;
      position: absolute;
      z-index: 99;
      top: 80px;
      left: 0;
      right: 0;
      background-color: $c-red;
      transition: max-height 1s;
      overflow: hidden;

      &.show{
        max-height: 112px;
      }
      li{
        width: 50%;
        border: 1px solid $c-white;
      }
    }
    a{
      padding: 0 32px;
      font-size: $fz-body4;

      @include nav{
        text-align: center;
        padding: 12px 0;
      }
    }
    li:last-child a{
      padding-right: 0;
    }
  }
  .nav-ham{
    display: none;
    font-size: 30px;
    color: $c-white;
    cursor: pointer;

    @include nav{
      display: block;
    }
    &.open{

    }
  }
}

// footer
.footer{
  padding-top: 48px;
  color: $c-white;
  background-color: $c-red;

  @include mobile{
    padding-top: 24px;
  }
  a{
    color: $c-white;
  }
  .info{
    display: flex;
    flex-direction: column;

    @include mobile{
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  .info-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  .nav{
    @include mobile{
      display: none;
    }
    a{
      padding: 0 24px;
    }
    li:first-child a{
      padding-left: 0;
    }
  }
  .socialLink{
    display: flex;
    gap: 32px;

    @include pad{
      gap: 16px;
    }
    img{
      width: 48px;
	    transition: all 0.3s;

      @include mobile{
        width: 24px;
      }
    }
  }
  .info-2{
    margin-bottom: 32px;

    @include mobile{
      margin-bottom: 24px;
    }
    li{
      display: flex;
      align-items: center;
      
      &:first-child{
        margin-bottom: 8px;
      }
    }
    img{
      width: 36px;

      @include mobile{
        width: 18px;
      }
    }
    a{
      margin-left: 16px;
      font-size: $fz-body1;
      
      @include mobile{
        font-size: $fz-body5;
      }
    }
  }
  .copyright{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    border-top: 1px solid $c-white;

    ul{
      display: flex;
      gap: 48px;

      @include mobile{
        flex-direction: column;
        gap: 8px;
      }
    }
    @include mobile{
      flex-direction: column;
      gap: 8px;
      padding-top: 16px;
      padding-bottom: 24px;
    }
  }
}