// color
$c-white: #fff;
$c-rice: #FBF2F2;
$c-lightGray: #DCDCDC;
$c-gray: #707070;
$c-black: #000;
$c-red: #AA0601;
$c-darkRed: #650300;

// font-size
$fz-title1: 64px;
$fz-title2: 48px;
$fz-title3: 42px;
$fz-body1: 36px;
$fz-body2: 32px;
$fz-body3: 24px;
$fz-body4: 20px;
$fz-body5: 16px;
$fz-body6: 14px;